* {
    padding: 0;
    margin: 0;
    /*outline: #00FF00 solid 1px;*/
}

body {
    background-color: #0E0E0E;
    display: flex;
    min-height: 100svh;
    max-width: 80rem;
    margin: 0 auto;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.flex-container {
    display: flex;
}
h2 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: .5rem;
    margin-top: 1rem;
}
.logo-side {
    background-image: url("img/jungle.png");
    background-repeat: no-repeat;
    background-size: auto 100%;
    color: white;
    flex: 1 0 0;
    font-size: 4 rem;
    font-family: "Paprika", Arial, Helvetica, sans-serif
}
.banner {
    background-color: rgb(14, 14, 14, 65%);
    justify-content: center;
    align-items: center;
    margin-top: 60%;
}

.form-side {
    background-color: white;
    color: #0E0E0E;
    flex: 1.9 0 0;
    display: flex;
    flex-direction: column;

}
.left-spacing {
    margin-left: 3rem;
    margin-right: 3rem;
    gap: 0rem 3rem;
}
#moon-logo {
    height: 6rem;
    width: 6rem;
}
.content {
    background-color: #f3f8fd;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 1rem;
    flex: 1 0 0;
    line-height: 2.0rem;
    box-shadow: 0px 0px 3px #aebbcc;
}
.form-section {
    font-size: 1rem;
    font-weight: 400;
    display: flex;
    padding-bottom: 1rem;
    flex-direction: column;
    flex: 1 0 0;
    box-shadow: 0px 3px 3px #747e8a;
}
.create-account {
    padding-top: 1rem;
    background-color: #f3f8fd;
    font-size: 1rem;
    font-weight: 400;
    flex: 1 0 0;
    box-shadow: 0px -1px 3px #aebbcc;
}
.flex-column {
    flex-direction: column;
}
.form-boxes {
    flex-wrap: wrap;
}
input {
    margin-bottom: 1rem;
    border-radius: .25rem;
    border-color: #aebbcc;
}
#submit {
    background-color: #596D48;
    color: white;
    font-size: 1.3rem;
    width: 15rem;
    height: 3rem;
    border-radius: .5rem;
    margin-bottom: 2rem;
}
#submit:active {
    background-color: #343f2a;
}
input:focus {
    outline: #0000FF solid 1px;
    /*border: #596D48 solid 3px;*/
    box-shadow: 2px 2px 3px #0088FF;
}

input:invalid {
    
    outline: #FF0000 solid 1px;
    /*border: #596D48 solid 3px;*/
    /*box-shadow: 2px 2px 3px #FF0000;*/
}
.invalid-input {
    outline: #FF0000 solid 1px;
}
.valid-input {
    outline: none;
}
#no-match {
    font-size: .8rem;
    color: red;
    visibility: hidden;
}